<main>
    <h1 class="page-title">Visiting Cards</h1>
    <p class="page-description"> You can select your visiting cards.</p>
    <hr>
    <div class="cards">
        <div class="row">
            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>

            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>

            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>

            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>

            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>

            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>
        </div>

    </div>
</main>

