<main>
   <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h1 class="page-title">Visiting Cards</h1>
      <p class="page-description">
        On this page you can manage your visiting cards.
      </p>
    </div>
  <button mat-flat-button color="primary" (click)="openAddCardModal()">New Visiting Card</button>

   </div>
    <hr>
    <div class="cards">
        <div class="row">
            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>

            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>

            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>

            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>

            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>

            <div class="col-12 col-md-4">
              <app-card-item [card]="cardItem" ></app-card-item>
            </div>
        </div>

    </div>
</main>

