<main>
    <h1 class="page-title">Visiting Cards</h1>
    <p class="page-description"> You can select your visiting cards.</p>
    <hr>
    <div class="cards">
        <div class="row">
            <div class="col-12 col-md-4">
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>Dr. Fatma Azra Yildiz</mat-card-title>
                      <mat-card-subtitle>Art Historian</mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">www.drazrayildiz.com</li>
                        <li class="list-group-item">info@azrayildiz.com</li>
                        <li class="list-group-item">+49 030 1115515</li>
                        <li class="list-group-item">Berlin - Germany</li>
                    </ul>
                    </mat-card-content>

                  </mat-card>

            </div>


        </div>
    </div>
</main>

